*{
	color: #faed27;
}
body {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: rgb(80, 78, 78);
  }
  
  .header {
    display: flex;
    justify-content: center;
    color: #C8A2C8;
  }

  .wrapper {
	display: flex;
	flex-direction: column;
	height: 90%;
	justify-content: space-between;
	align-content: center;
	padding: 10px;
  }
  
  textarea {
	padding: 20px;
	resize: none;
	overflow: hidden;
	height: 250px;
	margin-bottom: 10px;
	color: black;
	background-color: white;
	border: 5px solid;
	border-color: black;
  }
  
  .keyboard {
	padding: 5px 5px 5px;
	width: 900px;
	height: 314px;
	display: flex;
	flex-direction: column;
	background: black;
  }
  
  .keyboard-row {
	display: flex;
	background: black;
	overflow: hidden;
  }
  
  .key {
	width: 40px;
	height: 40px;
	margin: 2px;
	border-width: 3px 7px 10px;
	border-style: solid;
	border-radius: 3px;
	background: gray;
	border-color: white;
	transition: 50ms;
	cursor: pointer;
  }
  .key.act {
	transform: scale(0.9, 0.9) translate(3px, 3px);
	border-color: gold;
  }
  .key:hover {
	border-color: gold;
  }
  .key.alter {
	background: gray;
	border-color: white;
	flex-grow: 1;
  }
  .key.alter.act {
	transform: scale(0.95, 0.95) translate(0, 3px);
	border-color: gold;
  }
  .key.alter:hover {
	border-color: gold;
  }
  
  .capslock {
	background: gray;
	border-color: white;
	flex-grow: 1;

  }
  .capslock.active {
	border-color: gold;
  }
  
  .enter {
	background: gray;
	border-color: white;
	flex-grow: 1;
  }
  
  .space {
	background: gray;
	border-color: white;
	flex-grow: 16;
  }
  
  .backspace {
	background: gray;
	border-color: white;
	width: 130px;
  }
  
  .footer {
	  display: flex;
	  justify-content: center;
	  color: #C8A2C8	;
  }